numpy==1.26.4
torch==2.3.0          
pyvista==0.44.2
panel==1.4.2        
ipywidgets==8.1.2
matplotlib==3.9.0
scikit-learn==1.5.0 
ipykernel==6.29.4    
trame>=3.4,<4
trame-vtk>=2.8,<3
trame-vuetify>=3.0,<4
notebook~=7.2

